{% extends 'layout.html' %}
{% block content %}
<form action="" method="post">{% csrf_token %}
    {% for msg in messages %}
    {{ msg}}
    {% endfor%}
    <table style="margin-top:120px;margin-left:470px;">
        <tr>
            <td>User Name:</td>
            <td><input type="text" name="user_name" required></td>
        </tr>

        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" required></td>
        </tr>

        <tr>
            <td><input type="submit" class="btn btn-success" name="Log In"></td>
        </tr>
    </table>

</form>
{% endblock %}