{% extends 'layout.html' %}
{% block content %}
<div class="row" style="width:100%;">
    <div class="leftcolumn">
        <div class="card">
            <h2 align="center">{{each_post.title|title}}</a></h2>
            <h5 align="right">Created by : <b>{{each_post.author.username}}</b></h5>
            <h5 align="right">Published at : <b>{{ each_post.pub_date }}</b></h5>
            <p>{{each_post.content}}</p>
            <div>
                <a href="{% url 'liked_users' each_post.id%}" style="margin-left:auto;">Like({{ each_post.no_of_likes }})</a>
                <a href="{% url 'disliked_users' each_post.id%}" style="margin-left:50px;">Dislike({{ each_post.no_of_dislikes }})</a>
                <a href="{% url 'comments_view' each_post.id%}" style="margin-left:50px;">Comment({{ each_post.no_of_comments }})</a>
            </div>
            {% if users is None %}
            {% else %}
            <div class="card">
                <h5>People who reacted</h5>
                {% for i in users %}
                <p style="color:green;">{{i.user}}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% if comments is None %}
            {% else %}
            <div class="card">
                <h5>People who commented</h5>
                {% for i in comments %}
                <pre>{{i.user}}      :{{i.comment}}</pre>
                {% endfor %}
                <form method="POST" action="{% url 'comments_view' each_post.id %}">
                    {% csrf_token %}
                    <input type="text" name="comment" placeholder="Type your comment here">
                    <input type="submit" value="Send">
                </form>
            </div>
            {% endif %}


        </div>

    </div>

</div>
{% endblock %}