{% extends 'layout.html' %}
{% block content %}
<div class="row" style="width:100%;">
    <div class="leftcolumn">
        <div class="card">
            <h2 align="center"><a href="">View Profile</a></h2><br>
            <table style="margin-left:40px;">
                <tr>
                    <td><b>User Name</b></td>
                    <td style="color:green;">{{user.username}}</td>
                </tr>
                <tr>
                    <td><b>First Name</b></td>
                    <td style="color:green;">{{user.first_name}}</td>
                </tr>
                <tr>
                    <td><b>Last Name</b></td>
                    <td style="color:green;">{{user.last_name}}</td>
                </tr>
                <tr>
                    <td><b>Email</b></td>
                    <td style="color:green;">{{user.email}}</td>
                </tr>
                <tr>
                    <td><b>Date of Joined</b></td>
                    <td style="color:green;">{{user.date_joined}}</td>
                </tr>
                <tr>
                    <td><b>Active Status</b></td>
                    <td style="color:green;">{{user.is_active}}</td>
                </tr>
            </table>

        </div>

    </div>

</div>
{% endblock %}